<% content_for :navbar do %>
  <li class="active"><a href="/upload">Upload</a></li>
  
<% end %>

<legend><h1>Videos</h1></legend>

<h4>Latest: <%=Video.last.title %><h4>

  <div class="page-header">
<video id="my_video_1" class="video-js vjs-default-skin" controls
 preload="auto" width="854" height="480" poster="<%= Video.last.panda_video.encodings['h264'].screenshots.first %>"
 data-setup="{}">
 <source src="<%= Video.last.panda_video.encodings['h264'].url %>" type='video/mp4'>
</video>

<br>
</div>

<h4>Featured: <%=Video.find(1).title %><h4>

  <div class="page-header">
<video id="my_video_1" class="video-js vjs-default-skin" controls
 preload="auto" width="854" height="480" poster="<%= Video.find(1).panda_video.encodings['h264'].screenshots.first %>"
 data-setup="{}">
 <source src="<%= Video.find(1).panda_video.encodings['h264'].url %>" type='video/mp4'>
</video>

<br>
</div>

<%=Video.find_by_title('wedders').title %>
<div class="page-header">
<video id="my_video_1" class="video-js vjs-default-skin" controls
 preload="auto" width="854" height="480" poster="<%= Video.find_by_title('wedders').panda_video.encodings['h264'].screenshots.first %>"
 data-setup="{}">
 <source src="<%= Video.find_by_title('wedders').panda_video.encodings['h264'].url %>" type='video/mp4'>
</video>

<br>
</div>