<% content_for :navbar do %>
  <li><a href="/upload">Upload</a></li>
 
  <li class="active"><a href="#">Player</a></li>
<% end %>

<h2><%= @video.title %></h2>





<% if @h264_encoding.success? %>


 <div class="page-header">
<video id="my_video_1" class="video-js vjs-default-skin" controls
 preload="auto" width="854" height="480" poster="<%= @h264_encoding.screenshots.first %>"
 data-setup="{}">
 <source src="<%= @h264_encoding.url %>" type='video/mp4'>
</video>




<% else %>

<div class='progress progress-striped progress-success'>
  <span id="progress-bar" class='bar' style="width: <%= @h264_encoding.encoding_progress.to_i %>%"><%= @h264_encoding.encoding_progress %> %</span>
</div>

The video is still processing, refresh the page in a few seconds.
<% end %>

</div>